:root {
  --font-primary: Lato,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-display: "IBM Plex Sans",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-code: "IBM Plex Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-size-xs: 1.15rem;
  --font-size-sm: 1.3rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2.4rem;
  --line-height: 1.6;
  --color-back: #fff;
  --color-front: #444;
  --color-theme: #09a3d5;
  --color-theme-dark: #1095bf;
  --color-theme-contrast: #fff;
  --color-subtle-dark: #777;
  --color-subtle-medium: #eee;
  --color-subtle-light: #f9f9f9;
  --color-background-code: rgba(122,129,129,0.09);
  --color-button-primary: #29c15b;
  --color-button-primary-contrast: #fff;
  --color-button-secondary: #cdcdd4;
  --color-button-secondary-contrast: #686873;
  --color-button-danger: #d21313;
  --color-button-danger-contrast: #fff;
  --color-correct-light: #e3fde8;
  --color-correct-dark: #007737;
  --color-incorrect-light: #fde7e7;
  --color-incorrect-dark: #d21313;
  --syntax-background: #f7f7f7;
  --syntax-text: #403f53;
  --syntax-selected-background: rgba(122,129,129,0.17);
  --syntax-comment: #989fb1;
  --syntax-tag: #994cc3;
  --syntax-number: #aa0982;
  --syntax-selector: #994cc3;
  --syntax-operator: #994cc3;
  --syntax-function: #4876d6;
  --syntax-keyword: #994cc3;
  --syntax-regex: #5ca7e4;
  --ansi-green: #12dc55;
  --ansi-red: #f76464;
  --ansi-cyan: #00d8ff;
  --plyr-color-main: var(--color-theme);
  --plyr-font-family: var(--font-primary);
  --width-container: 800px;
  --size-profile-pic: 125px;
  --border-radius: 5px;
}

html, body {
  font-size: 14px;
  font-family: var(--font-display);
  line-height: var(--line-height);
}

a {
  background-color: transparent;
  color: inherit;
}

h1, h2 {
  font-family: var(--font-primary);
}

h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--font-size-lg);
  margin-bottom: 1.5rem;
}

.no-underline {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.Home,
.Course,
.Lesson {
  width: var(--width-container);
  max-width: 100%;
  margin: 0 auto;
}

.CourseSummary,
.LessonSummary {
  border: 1px solid var(--color-subtle-medium);
  border-radius: var(--border-radius);
  margin: 0 auto 2rem;
}

.CourseSummary > div,
.LessonSummary > div {
  padding: 2rem;
}

.CourseSummary .title,
.LessonSummary .title {
  display: flex;
  justify-content: space-between;
}

.CourseSummary .title svg,
.LessonSummary .title svg {
  height: 25px;
  width: 25px;
  color: var(--color-subtle-medium);
}

.CourseSummary .title svg.enrolled {
  color: var(--color-theme-dark);
}
.LessonSummary .title svg.complete {
  color: var(--color-button-primary);
}

.CourseSummary h2,
.LessonSummary h2 {
  margin-top: 0
}

.Lesson .Content .markdown {
  padding: 1rem 0 2rem;
}

.Lesson .Content p,
.CourseSummary p,
.LessonSummary p {
  font-size: var(--font-size-sm);
  color: var(--color-subtle-dark);
  margin-bottom: 0;
}

.Lesson header,
.Course header {
  margin-bottom: 2rem;
}

.Home header h1 {
  text-align: center;
}

.Lesson header p,
.Course header p {
  font-size: var(--font-size-xs);
  color: var(--color-subtle-dark);
}

.Nav {
  display: flex;
  justify-content: end;
  padding: 1rem 2rem;
}

.Footer {
  background: var(--color-subtle-light);
  width: 100%;
  padding: 3rem 0;
  margin-top: 5.5rem;
  display: flex;
  justify-content: center;
}

.Footer ul {
  padding: 0;
  padding-top: 2rem;
  color: var(--color-subtle-dark);
  margin: 0;
}

.Footer li {
  display: inline;
}

Footer li:not(:last-child) {
  margin-right: 1rem;
}

Footer li:not(:last-child):after {
  content: "\B7";
  margin-left: 1rem;
}

.button-auth {
  padding: 0.75rem 1.5rem;
  font-size: var(--font-size-xs);
  background: var(--color-subtle-medium);
  border: 0;
  font-family: var(--font-primary);
  font-weight: 700;
  border-radius: var(--border-radius);
  transition: opacity .2s ease;
  cursor: pointer;
}

.button-primary {
  padding: 1rem 1.5rem;
  font-size: var(--font-size-xs);
  background: var(--color-theme);
  color: var(--color-theme-contrast);
  border: 0;
  font-family: var(--font-primary);
  font-weight: 700;
  border-radius: var(--border-radius);
  transition: opacity .2s ease;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
}

.button-primary:hover {
  background: var(--color-theme-dark);
}

.button-primary.icon {
  display: inline-flex;
}

.button-primary.icon svg {
  margin-left: 7px;
  height: 20px;
  width: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
}

.spinner {
  margin: 10rem auto;
  width: 20px;
  height: 20px;
  border: 4px solid transparent;
  border-top-color: var(--color-front);
  border-radius: 50%;
  animation: spinner 1s ease infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.Lesson401 {
  display: flex;
  justify-content: center;
}

.Lesson401 > div {
  border: 1px solid var(--color-subtle-medium);
  border-radius: var(--border-radius);
  padding: 3rem 2em;
  width: 66%;
  font-size: var(--font-size-sm);
  text-align: center;
  color: var(--color-front)
}

.underline {
  text-decoration: underline;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.ReactModal__Overlay--after-open {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Content--after-open {
  position: absolute;
  background-color: var(--color-back);
  border: 1px solid var(--color-subtle-medium);
  border-radius: var(--border-radius);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  width: 300px;
}

.ReactModal__Content p {
  margin: 2rem 0;
  font-size: var(--font-size-xs);
  color: var(--color-front);
  text-align: center;
}

.ReactModal__Content .close {
  display: flex;
  justify-content: end;
  position: relative;
}

.ReactModal__Content .close svg {
  height: 20px;
  width: 20px;
  color: var(--color-subtle-dark);
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.ReactModal__Content .form {
  display: flex;
  flex-direction: column;
}

.ReactModal__Content input[type=text] {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: var(--font-size-xs);
  color: var(--color-front);
  line-height: 1;
  border: 1px solid var(--color-subtle-medium);
  border-radius: var(--border-radius);
}

.ReactModal__Content button {
  line-height: 1.4;
}

.ReactModal__Content button .loading {
  width: 6px;
  height: 6px;
  border: 4px solid transparent;
  border-top-color: var(--color-back);
  border-radius: 50%;
  animation: spinner 1s ease infinite;
  display: inline-block;
  margin-left: 0.5rem;
}

.ReactModal__Content input[type=text]:focus {
  outline: var(--color-theme)
}

.ReactModal__Content .alert {
  margin: 2rem 0 1rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ReactModal__Content .alert.success {
  background: var(--color-correct-light);
  color: var(--color-correct-dark);
}

.ReactModal__Content .alert.error {
  background: var(--color-incorrect-light);
  color: var(--color-incorrect-dark);
}

.ReactModal__Content .alert svg {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}
