:root {
  --font-primary: Lato,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-display: "IBM Plex Sans",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-code: "IBM Plex Mono",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-size-xs: 1.15rem;
  --font-size-sm: 1.3rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2.4rem;
  --line-height: 1.6;
  --color-back: #fff;
  --color-front: #444;
  --color-theme: #09a3d5;
  --color-theme-contrast: #fff;
  --color-subtle-dark: #777;
  --color-subtle-medium: #eee;
  --color-subtle-light: #f9f9f9;
  --color-background-code: rgba(122,129,129,0.09);
  --color-button-primary: #29c15b;
  --color-button-primary-contrast: #fff;
  --color-button-secondary: #cdcdd4;
  --color-button-secondary-contrast: #686873;
  --color-button-danger: #d21313;
  --color-button-danger-contrast: #fff;
  --color-correct-light: #e3fde8;
  --color-correct-dark: #007737;
  --color-incorrect-light: #fde7e7;
  --color-incorrect-dark: #d21313;
  --syntax-background: #f7f7f7;
  --syntax-text: #403f53;
  --syntax-selected-background: rgba(122,129,129,0.17);
  --syntax-comment: #989fb1;
  --syntax-tag: #994cc3;
  --syntax-number: #aa0982;
  --syntax-selector: #994cc3;
  --syntax-operator: #994cc3;
  --syntax-function: #4876d6;
  --syntax-keyword: #994cc3;
  --syntax-regex: #5ca7e4;
  --ansi-green: #12dc55;
  --ansi-red: #f76464;
  --ansi-cyan: #00d8ff;
  --plyr-color-main: var(--color-theme);
  --plyr-font-family: var(--font-primary);
  --width-container: 800px;
  --size-profile-pic: 125px;
  --border-radius: 5px;
}

a {
  background-color: transparent;
  color: inherit;
}

a, p {
  font-family: var(--font-display);
}

h1, h2 {
  font-family: var(--font-primary);
}

h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--font-size-lg);
  margin-bottom: 1.5rem;
}

.no-underline {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.CourseSummary,
.LessonSummary {
  width: var(--width-container);
  max-width: 100%;
  padding: 2rem;
  border: 1px solid var(--color-subtle-medium);
  border-radius: var(--border-radius);
  margin: 0 auto 2rem;
}

.LessonSummary {

}


.CourseSummary h2,
.LessonSummary h2 {
  margin-top: 0
}

.CourseSummary p,
.LessonSummary p {
  font-size: var(--font-size-sm);
  color: var(--color-subtle-dark);
  margin-bottom: 0;
}

.Course header {
  width: var(--width-container);
  max-width: 100%;
  margin: 5rem auto;
}

.Footer {
  background: var(--color-subtle-light);
  width: 100%;
  padding: 3rem;
  margin-top: 5.5rem;
}

.Footer ul {
  flex: 0 0 100%;
  padding-top: 2rem;
  font-size: var(--font-size-xs);
  text-align: center;
  color: var(--color-subtle-dark);
}

.Footer li {
  display: inline;
}
